body {
    background-color: #1E1E1E;
    color: #f2f2f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2f2f2f;
    display: flex;
    justify-content: space-between;
}

.main-title {
    font-size: 1.5rem;
    margin: auto;
}

.menu-btn {
    background-color: transparent;
    border: none;
}

.menu-btn img {
    width: 36px;
    height: 36px;
    margin: 4px;
    filter: invert(100%);
}

footer {
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
}

/* h2 {
    text-align: center;
    width: 80%;
    margin: 10px auto;
} */


/* Screen Styling */
.start-screen {
    /* background-color: cornflowerblue; */
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.play-screen {
    /* background-color: rgb(143, 241, 195); */
    /* background-color: #1E1E1E; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.finish-screen {
    /* background-color: coral; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

/* .desktop-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    z-index: 9999;
} */


/* Start Screen Components */
.gen-text {
    text-align: center;
    width: 80%;
    margin: 10px auto;    
}

.gen-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: transparent;
    background-color: #2f2f2f;
    width: 80vw;
    margin: 5% auto;
    border-radius: 20px;
    gap: 20px;
    padding: 10px;
}

.gen-container .gen-btn {
    font-size: 2rem;
    background-color: #1E1E1E;
    color: #f2f2f2;

    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
    aspect-ratio: 1;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border: 10px solid #a8a8a8;

}

.gen-container .btn-pressed {
    background-color: #f2f2f2;
    color: #111111;
    transform: scale(0.95);
}

.start-btn {
    font-size: 1.2rem;
    width: 40%;
    padding: 10px 20px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background-color: #ef4444;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

.error-text {
    text-align: center;
    width: 80%;
    margin: 10px auto;    
}


/* Generation Colours */
.gen-btn:nth-child(1).btn-pressed {
    border-color: #ff0000 #ff0000 #3b4cca #3b4cca;
}

.gen-btn:nth-child(2).btn-pressed {
    border-color: #e8c800 #e8c800 #c0b8c8 #c0b8c8;
}

.gen-btn:nth-child(3).btn-pressed {
    border-color: #9b0729 #9b0729 #016d94 #016d94;
}

.gen-btn:nth-child(4).btn-pressed {
    border-color: #52a1b2 #52a1b2 #e0929f #e0929f;
}

.gen-btn:nth-child(5).btn-pressed {
    border-color: #010101 #010101 #dde1e6 #dde1e6;
}

.gen-btn:nth-child(6).btn-pressed {
    border-color: #0c6197 #0c6197 #d32649 #d32649;
}

.gen-btn:nth-child(7).btn-pressed {
    border-color: #ef810e #ef810e #1c375c #1c375c;
}

.gen-btn:nth-child(8).btn-pressed {
    border-color: #f34e86 #f34e86 #2dcbdc #2dcbdc;
}

.gen-btn:nth-child(9).btn-pressed {
    border-color: #fd0d35 #fd0d35 #6c38a1 #6c38a1;
}


/* Play Screen Components */
.img-container {
    background-color: #2f2f2f;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 90%;
    margin: auto;

    /* border: 6px solid #2f2f2f; */
    border-radius: 10px;
}

.main-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.silhouette {
    filter: brightness(0)
}

.text-input {
    margin: auto;
    font-size: 1rem;
    padding: 5px;
    border: 2px solid #2f2f2f;
    border-radius: 4px;
    text-align: center;
}

.score-text {
    text-align: center;
    width: 80%;
    margin: 10px auto;
}

.btn-container {
    margin: auto;
}

.btn-container button {
    font-size: 1.2rem;
    /* width: 40%; */
    padding: 10px 20px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background-color: #ef4444;
    cursor: pointer;
}

.disabledButton {
    background-color: #0056b3;
}


/* Result Display */
.result-text {
    text-align: center;
    width: 80%;
    margin: 10px auto;
}

.resultCorrect {
    font-size: 1.5rem;
    color: #007bff;
}

.resultIncorrect {
    font-size: 1.5rem;
    color: #ff3300;
}


/* Finish Screen Components */
.restart-btn {
    font-size: 1.2rem;
    width: 40%;
    padding: 10px 20px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background-color: #ef4444;
    cursor: pointer;
}


/* Hidden Class */
.hidden {
    display: none;
}